/* Loading.css */

@keyframes fill-background {
  0% {
    fill: #fff; /* Start with white */
  }
  50% {
    fill: #ffcc00; /* Transition to yellow */
  }
  100% {
    fill: #4caf50; /* End with green */
  }
}

.logo-animation .logo-path {
  animation: fill-background 3s ease-in-out infinite alternate;
}

.dot-animation::after {
  content: '.';
  animation: dot-blink 1s steps(5, end) infinite;
}

.dot-animation::before {
  content: '..';
  animation: dot-blink 1s steps(5, end) infinite;
  animation-delay: 0.2s;
}

.dot-animation {
  display: inline-block;
  position: relative;
}

@keyframes dot-blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
