# MONGO_URI is the connection string used to connect to your MongoDB database.# It specifies the database protocol, host, port, and database name.# In this example, the application connects to a MongoDB instance running locally on port 27017,# and the database name is 'ts-crud'.# Example: MONGO_URI=mongodb://username:password@localhost:27017/ts-crudMONGO_URI=mongodb://localhost:27017/ts-crud# JWT_SECRET is a secret key used by the application to sign and verify JSON Web Tokens (JWTs).# This key should be a strong, randomly generated string and kept secure.# It ensures the integrity and authenticity of the tokens by making sure they are only modifiable by the application itself.# You can generate a strong JWT secret key at: https://jwtsecret.com/generate# Example: JWT_SECRET=my_super_secret_key_123JWT_SECRET=your_jwt_secret